<app-home></app-home>
<div class="container-fluid my-5 custom-container">
  <div class="col-md-12">
    <h4 class="mb-3 text-center">Ram Details</h4>
    <br>
    <div class="col-md-12 form-group form-inline" style="padding-left: 4cm;">
      <label class="col-sm-3">RAM Size</label>
      <input type="text" [(ngModel)]="ramDetails.ram_size" class="form-control" placeholder="">
    </div>

    <div class="col-md-12 form-group form-inline" style="padding-left: 4cm;">
      <label class="col-sm-3">Type</label>
      <input type="text" [(ngModel)]="ramDetails.type" class="form-control" placeholder="">
    </div>

    <br>
    <div class="form-group text-center">
      <button class="btn btn-success btn-lg" (click)="addRam()">Add</button>
    </div>

  </div>
</div>