<app-home></app-home>
<div class="container-fluid my-5 custom-container">
  <div class="col-md-12">
    <h4 class="mb-3 text-center">Add Device</h4>
    <br>
    <div class="col-md-12 form-group form-inline" style="padding-left: 4cm;">
      <label class="col-sm-3">Device Type</label>
      <input type="text" [(ngModel)]="deviceDetails.device_type_name" class="form-control" placeholder="">
    </div>
    <br>
    <div class="form-group text-center">
      <button class="btn btn-success btn-lg" (click)="addDevice()">Add</button>
    </div>

  </div>
</div>